body { 
  color: #666;
}

h1 {
  color: #0099dd;
}


.content .about-me {
  margin-top: 0px; !important
}
.about-me img{
  width: 392px;
  height: 350px;
}

.setup-title h1 {
  color: green;
}

code {
  font-size: 0.7em;
}

.resources a {
  font-size: 0.7em;
}
